@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(0, 145, 255);
  background-size: cover;
  background-repeat: no-repeat;

}
.continere{
  position: relative;
  width: 400px;
  height: 100px;
  border-radius: 16px;
  padding: 20px;
  background: rgba(255, 255, 255, .1);
  backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, .1);
  color: #fff;
  transition: height  .6s ease;

}
.search-box{
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  /* background-color: black; */
} 
 .search-box input{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px ;

}
 .search-box input::placeholder{
  color: #fff;
  text-transform: capitalize;
 }
 .search-box i{
  position: absolute;
  left: 10px;
  font-size: 28px;
 }
 .search-box button{
   position: absolute;
    width: 40px;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0 40px 0 5px;
    color: #fff;
    font-size: 28px;
    right: 0;
    cursor: pointer;

 }


 /* info for weather */
   .weather-box{
    text-align: center;
    margin: 40px 0;
   } 
   .weather-box img{

    width: 60%;
   }
   .weather-box .temperature{
    line-height: 1;
    font-weight: 700;
    position: relative;
    font-size: 64px;      
    margin: 20px 0 6px -40px;
   }
   .weather-box .temperature span{
    font-size: 24px;
    position: absolute;
    margin-left: 4px;
   }
   .weather-box .description{
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
   }
   


   /* info weather details */
   .weather-details{
    position: absolute;
    bottom: 40px;
    left: 0;
    width: 100%;
    padding: 0 20px;
    display: flex;
   }
   .weather-details .humidity ,
   .weather-details .wind{
    display: flex;
    align-items: center;
    width: 50%;
    transform: translateY(-100%);
   }
   .weather-details.active .humidity ,
   .weather-details.active .wind{
  
    transform: translateY(0%);
     transition:transform 1s ease;
     transition-delay: .6s;
   }

    .weather-details .humidity{
      padding-left: 20px;
      justify-content: flex-start;
    }
  .weather-details .wind{
    padding-right: 20px;
    justify-content: flex-end;
  }

   .weather-details i{
    font-size: 50px;
    margin-right: 10px;
   }
   .weather-details span{
    display: inline-block;
    font-size: 22px;
    font-weight: 500;

   }
   .weather-details p{
    font-size: 14px;
    font-weight: 500;
   }
   /* error */
   .not-fount{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    text-align: center;
    margin-top: 110px;
   }
  .not-fount img{
    width: 65%;
   }
   .not-fount p{
    font-size: 22px;
    font-weight: 500;
    margin-top: 12px;
   }


 .weather-box ,
 .weather-details,
 .not-fount{
     visibility: hidden; 
     overflow: hidden;
    }
    

    
   .weather-box.active ,
 .weather-details.active,
 .not-fount.active {
     visibility: visible; 
    }
       
    /* more details */

    .weather-box .box ,
    .not-fount .box{
      transform: translateY(-100%);
    }
    .weather-box.active .box ,
    .not-fount.active .box{
      transform: translateY(0%);
      transition:transform 1s ease;
      transition-delay: .6s;
    }




      